@CHARSET "UTF-8";

#h21{
display:inline;
color: blue;
	
}
#exampleSelect2{
	
	display:inline;

}
#btnWriter{
vertical-align : inherit;
}

#main_nav{
	display: inline;
	}
	
	useridC{
	color:aqua;
	}